{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-2">Bienvenue {% if app.user %}{{ app.user.nickname }}{% endif %}</h1>
            <h2 class="display-5">sur Entre Wilders</h2>
            <h3 clas="display-5"> le site des petites annonces entre Wilders</h3>
        </div>
    </div>
    <div class="container">
        {% if is_granted('ROLE_USER') %}
            <button type="button" class="btn"><a href="{{ path('annouce_new') }}">Déposer une nouvelle annonce</a></button>
        {% endif %}
    </div>

{% endblock %}
